html { height: 100%; margin-bottom: 1px; }
html.novertscroll { margin-bottom: 0; }

body {
	background: url('../img/header_bg.png') repeat-x scroll top left; 
	color: #333;
	font-family: Arial,Helvetica,sans-serif;
}

#container {
	position: relative;
	width: 790px;
	margin: 0px auto;
}


#header {
	position: relative;
	height: 82px;
	padding:0; margin:0;
}

#sidebar {
	margin: 15px 10px 10px 10px;
	width: 230px; 
	border: 1px solid #ccc;
	float: left;
	padding: 5px;
	background: url('../img/sidebarbg.png') repeat-y scroll top center;
}

#content {
	font-size: 13px ;
	text-align: justify;
	min-height: 500px ;
	overflow: visible;
}

.withSidebar{
	width: 524px;
	float: right;
}

.noSidebar {
	width: 766px;
}

#footer {
	padding: 5px;
	font-size: 15px;
	text-align: center ;
	clear: both;
	border-top: 1px solid #777;
}

#tablist ul{
	bottom: 0;
	right: 0;
	padding: 0px;
	margin-top: -3px ;
	font-size: 14px;
}


.title {
	color: white ;
	font-size: 30px;
	font-weight: bold ;
	
}

.title_minor {
	color: white ;
	font-size: 15px;
	font-weight: bold ;
	padding: 0px ;
	margin: 0px ;
}

.title_minor a, .title_minor:visited{
	color: #fff;
	text-decoration: none;
}

.title_minor a:hover {
	text-decoration: underline;
}


.title_major {
	color: white ;
	font-size: 25px;
	font-weight: bold ;
	padding: 0px ;
	margin: 0px ;
	padding-left: 20px ;
}

.title_major a, .title_major:visited{
	color: #fff;
	text-decoration: none;
}


h1, h2, h3, h4, h5, h6, a.h2, a.h3 {
	font-size: 22px;
	display: block;
	font-weight: bold;
	border-bottom: 1px solid #464;
	color: #464;
	margin: 10px 0 .3em 0; 
	padding: 0;
}

h2, a.h2 { font-size: 18px; }
h3, a.h3 { font-size: 16px; border:none; }
h4, a.h4 { font-size: 14px; border:none; }
h5, a.h5 { font-size: 12px; border:none; }

em {
	font-style: normal; 
	font-weight: bold;
}

.quicksearchBox {
	position: absolute;
	right: 0px ;
	
	top: 0px ;
}

.searchSummary {
	border-bottom: 1px solid #464;
	font-size: 14px ;
	text-align: right;
}

.searchSummary a {
	font-weight: bold ;
	padding-right: 0.2em ;
}


input {
	border: 1px solid black ;
}


.searchResults ul {
	margin-left: 0px ;
	padding-left: 0px ;
	list-style-type: none;
}

.searchResults li {
	margin-top: 10px ;
	margin-left: 0px ;
	background-repeat: no-repeat;
	background-position: 0 .4em;
	padding-left: 20px ;	
	
	background-image: url('../img/leafIcon.gif') ;
}

.searchResults a {
	padding-left: 20px ;
	font-size: 14px ;
}

/* -- tabs -- */

/* -- the framework for lists of links -- */
.linklist ul {
	width: auto;
	list-style: none;
	margin-bottom: 6px;
}

.linklist li {
	float: right;
	margin: 0pt;
}

.linklist a {
	display: block;
	float: left;
}

#tablist ul{
	bottom: 0;
	right: 0;
	padding: 0px 15px 0px 0px;
	font-size: 14px;
}

#tablist li {
	background: transparent url('../img/button-right.png') no-repeat scroll 100% -100px;
	padding: 0 8px 0 0;
}
#tablist li:hover,
#tablist li.current { background-position: 100% 0; }

#tablist a {
	margin:0;
	padding: 5px 4px 3px 10px;
	background: transparent url('../img/button-left.png') no-repeat scroll 0 -100px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	line-height: 1em ;
}

#tablist li:hover a,
#tablist li.current a {background-position: 0 0;}

#subServiceList {
	position:relative ;
	top: -5px ;

}

#subServiceList ul {
	border-collapse: collapse;
	position: static ;
}

#subServiceList li {
	font-weight: bold ;
	padding: 0px 5px ;
	font-size: 18px ;
}

#subServiceList a {
	font-weight: normal ;
}


#classifierData {
	position: static;
	padding: 20px 0px ;
	
}

#classifierData ul {
	margin-left: 0px ;
	padding-left: 0px ;
	list-style-type: none;
}

#classifierData li {
	margin-top: 5px ;
	margin-left: 0px ;
	background-repeat: no-repeat;
	background-position: 0 .2em;
	padding-left: 20px ;	
}

#classifierData .collapsedNode {
	background-image: url('../img/collapsedIcon.gif') ;
}

#classifierData .expandedNode {
	background-image: url('../img/expandedIcon.gif') ;
	
}

#classifierData .leafNode {
	background-image: url('../img/leafIcon.gif') ;
}



/* -- document -- */

.sectionNav {
	height: 20px ;
}


.prevSection {
	
	float:left ;
}


.nextSection {
	
	float: right ;
}

.ancestorSections {
	
	color: #464;
	font-weight: bold ;
	padding-bottom: 0px ;
	margin-bottom: 0px ;
	line-height: 1em ;
}

.subsectionHeader {
	margin-top: 0px ;
	padding-top: 0px ;
	margin-left: 20px ;
}

.coverImage {
	border: 1px solid gray ;
	background-color: #f0f9f0 ;
	padding: 5px ;
	
	float: left ;
	margin-right: 10px ;
	margin-bottom: 10px ;
}

.coverImage img {
	
	border: 1px solid gray ;
}

.divider {
	clear: both; 
}

#contentsLink {
	
	position:relative ;
	top: -5px ;
	
	font-size: 18px ;	
	width: 100px ;
}

#contents {
	
	position: absolute; 
	width: 400px ;	
	display:none ;
	border: 1px solid gray ;
	background-color: #f0f9f0 ;
	padding: 5px ;	
}

#contents ul {
	margin-left: 0px ;
	padding-left: 20px ;
	list-style-type: none;
}

#contents li {
	margin-top: 5px ;
	margin-left: 0px ;

	padding-left: 0px ;
}

#contents li a {
	padding-left: 20px ;
	background-repeat: no-repeat;
	background-position: 0 .4em;
	display: block;
}



#contents .collapsed a {
	background-image: url('../img/collapsedIcon.gif') ;
}

#contents .collapsed ul {
	display: none ;
}

#contents .expanded a {
	background-image: url('../img/expandedIcon.gif') ;
}

#contents .expanded ul {
	display: block ;
}

#contents .leaf a {
	background-image: url('../img/leafIcon.gif') ;
}


#currentSection {
	padding-left: 20px ;
	background-repeat: no-repeat;
	background-position: 0 .4em;
	display: block;
	background-image: url('../img/leafIcon.gif') ;
	font-weight: bold ;
	color: black ;
}

#contents li {
	
}

/* -- sidebar -- */



#sidebar a:link, #sidebar a:active, #sidebar a:visited, #sidebar a:hover {
	color: #575;
}
#sidebar a:visited { color: #464; }
#sidebar a:hover { color: #9a9; }

#sidebar .itemName {
	font-size: 16px ;
	margin: -1px;
	padding: 5px ;
	background: url('../img/sidebar-button-top.png') repeat-x scroll top left; 
	border: 1px solid gray;
	list-style: none;
}

#sidebar .itemDetails {
	font-size: 12px ;
	padding: 5px ;
	background-color: #f0f9f0;
	border: 1px solid gray;
	list-style: none;
	margin: 0 0 9px 0;
}

a {
	color: #575;
	text-decoration: none ;	
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}
