#berrybasket {
	min-height: 22px;
	padding: 5px;
	margin: 0 0 1em 0;
	/* background: #E0F0E0 url("../images/berrybasket.png") scroll no-repeat 0 0; */
	background: transparent url("../images/kete2.png") scroll repeat 0 0;
	z-index:10;
	/*cursor: pointer;*/
	font-size: 80%;
	min-height: 2em;
}

#baskethandle {
	cursor: move;
	padding: 0;
	margin: 0;
	height: 30px;
	width: auto;
	background-color: #7f7;
	display: none;
}

#berries {
	text-align: left;
	height: auto;
	margin: 0;
	padding: 0;
	overflow: hidden;   
}
#berries img {
	margin: 3px 2px;
}

#trashbin {
	float:right;
}

#berryFullViewLink {
	display:block;
	cursor: pointer;
	text-align: left;
	padding: .5em;
}

#berryHelpMsg {
	font-size: 90%;
	color: #888;
}

#doclist {
	margin-bottom:0;
}
span.berryradio{
 cursor: pointer;
 margin:0 3em  0 3em;
 font-weight: bold;
}

.berryOption {
	text-decoration: underline;
	cursor: pointer;
}

.berrycheck{
 font-size: 80%;  
 cursor: pointer;
 font-weight: bold;
 margin: 0 0 0 0.5em;
}

#urlcheck{
 float: left;
 padding: 0;
 margin: 0;
 
}

.pick {
  visibility:hidden;
}


p#documentberries {
   font-weight: bold;
   font-size:90%;
}

.documentberry {
  margin:0 2em 0 0;
  padding:0;
  visibility:hidden;
}


.content{
 font-family:sans-serif;
 text-align:left;
}

li.berryitem {
   padding: 0;
   margin: 0 ;
   color: black;
   font-size: 90%;
}

li.berrydoc {
  font-size: 90%;
  cursor: pointer;
  padding: 0 ;
  margin: 0 1em 0 0; 
}

a.expandcontract {
  font-size: 90%;
  color: red
}


.item {
  font-size: 90%;
 
}

.berrydelete{
   font-family:sans-serif;
   background-color:#E0F0E0;
   border:1px solid #2E8B57;   
   padding: 4px  4px 4px 4px; 
   font-weight: bold;
   cursor: pointer;
   width: 6em;
   color: red;
   font-size: 90%;
}

.sendbutton{
   font-family:sans-serif;
   background-color:#E0F0E0;
   border:1px solid #2E8B57;   
   padding: 4px  4px 4px 4px; 
   font-weight: bold;
   cursor: pointer;
   /*width: 5em;*/
   font-size: 90%;
   margin: 1em 0 0 0;
}

.berrybutton{
   font-family:sans-serif;
   background-color:#E0F0E0;
   border:1px solid #2E8B57;   
   padding: 4px  4px 4px 4px; 
   font-weight: bold;
   cursor: pointer;
   width: 10em;
   font-size: 90%;
}

.mailinput {
  border:1px solid #2E8B57; 
  width: 20em;
  height: 1.5em;
  font-size: 90%
}

.mailitem{
   text-align: left;
 }


textarea#pretextarea {
  font-family:sans-serif;
  border:1px solid #2E8B57; 
  width: 100%;
  height: 25em;
  font-size: 90%;
  margin: 0.5em 0 0 0;
  padding:0;
}

div#trashbin{
   float: right;
   height: 60px;
   width:  55px;
   padding: 0;
   background: url("../images/trash-empty.png") 0 0 no-repeat;
   margin:0;
   z-index:10;
}

div#binhandle{
 height: 60px;
 width:  55px;
 cursor: move;
}

span.extralink {
  cursor:pointer;
  font-size:80%;
  font-weight:bold;
  margin:0 2em 0 0;
  color:black;
}

span.extralink:hover {
   color: #2E8B57;
}

