html {
	height: 100%;
	margin-bottom: 1px;
}
body {
	font-family: sans-serif;
	padding: 20px;
	margin: 0;
	color: #444;
	background-color: #eae4d9;
}

h3 {
	margin-top:2px;
	margin-bottom:2px;
}

p {
	margin-top:0px;
	margin-bottom:0.75em;
}

.sectionHeader {
	margin-top:0px;
	margin-bottom:0px;
}

.headerTD {
	vertical-align: middle;
}

/* Styles for the different depths */
.sectionHeaderDepthTitle{
	font-size:1.8em;
	line-height:1em;
	font-weight:bold;
}

.sectionHeaderDepth1{
	font-size:1.6em;
	line-height:1em;
	font-weight:bold;
}

.sectionHeaderDepth2{
	font-size:1.4em;
	line-height:1em;
	font-weight:bold;
	font-style:italic;
}

.sectionHeaderDepth3{
	font-size:1.2em;
	line-height:1em;
	font-style:italic;
}

.sectionHeaderDepth4{
	font-size:1em;
	line-height:1em;
	font-weight:italic;
}

.sectionNumberSpan{
	/*Comment out this line to enable automatic section numbering*/
	display:none;
}

.sectionContainer{
	padding-top:1em;
	padding-bottom:1em;
	padding-left:1.5em;
}

.classifierContainer {
	padding-left:1.5em;
}

.icon{
	cursor:pointer;
	padding:2px;
}

.emptyIcon {
	height:16px;
	width:16px;
}

.backToTop {
	font-size:0.7em;
	padding-left: 2em;
	text-align:center;
}

#prevArrowTD {
	text-align:right; 
	width:10%;
}

#nextArrowTD {
	text-align:left; 
	width:10%;
}

#prevTD {
	text-align:left; 
	width:20%;
}

#nextTD {
	text-align:right; 
	width:20%;
}

#searchResultNavTable {
	width:100%;
}

#searchResultsStatusBar {
	text-align:center;
}

#container {	position: relative;
	margin: 0 auto 20px auto;
	max-width: 1000px;
	padding: 0;
	line-height: 120%;
	background-color: #fff;
	border: 1px solid #c8c3b9;
}

#gs_banner {
	/*background: transparent url('../images/gsdlhead.gif') scroll no-repeat left top;*/
	background-color: #008800;
	padding: 10px 20px 30px 20px;
	min-height: 80px;
	position: relative;
}

#gs_content {
	padding: 1em;
	padding-right: 2em;
	min-height: 300px;
	/* background-color: #ff0; */
}

.termList {
	font-size:12px;
	line-height:14px;
}

.noTermHighlight{

}

.termHighlight{
	background:yellow;
}

.viewOptions {
	width: 100%;
	background:#008800;
}

.viewOptions td {
	padding: 5px;
}

.viewOptions a:link, .viewOptions a:hover, .viewOptions a:active, .viewOptions a:visited {
	color:white;
	text-decoration:none;
}

#rightSidebar {
	border: 1px solid #cdc;
	width: 25%;
	min-width: 180px;
	float: right;
	margin: 0 0 10px 20px;
	/* background-color: #f0f; */
}

#contentsArea {
	padding:10px;
}

#quickSearch {
}


#collectionLinks {
	position: relative;
}

.collectionLink {
	display: block;
	float: left;
	border: 1px solid #888;
	margin: 0 20px 20px 0;
	font-size: 150%;
	color: #444;
	text-decoration: none;
	background: url(../images/collectionIconStripe.gif) scroll no-repeat 0 0;
	padding: 20px;
}
collectionLinkImage {
	float: left;
}

#gs_footer {
	background: transparent url('../images/gsdlhead.gif') scroll no-repeat left top;
	text-align: center;
	vertical-align: middle;
	font-size: 70%;
	color: #fff;
	padding-top:5px;
	padding-bottom:5px;
}



/* some text should not be rendered as it is just there for search engines */
#collectionLinks a b {
	display: none;
}

/* make sure h1s and h2s are readable on the green banner */
#breadcrumbs, #gs_banner h2, #breadcrumbs a, #gs_banner h2 a {
	color: #fff;
}
body.dAction #gs_banner h2 {
	max-width: 600px;
	font-size: 100;
}

#titlearea {
	padding-left: 1em;
	padding-right: 1em;
	height:60px;
	background-color: #007200;
	width:40%;
}

#titlesearchcontainer {
	width:100%;
	margin: 5px 0 5px;
}

#quicksearcharea {
	width:60%;
	text-align:right;
	padding: 0.4em;
	color:white;
	background-color:#007200;
}

#quicksearcharea table{
	font-size:70%; 
	margin:0; 
	float: right;
}

#quicksearcharea a{
	color:white; 
	text-transform:lowercase;
	padding-left:10px; 
}

#breadcrumbs {
	/*margin: 0 0 10px 0;*/
	height: 25px;
	line-height: 15px;
}

/* css to make the tabs work */
#nav {
	position:absolute;
	width: auto;
	bottom: 0;
	left: 0;
	list-style: none;
	margin:0;
	padding: 0 0 0 20px;
	font-size: 14px;
}

#nav li {
	float: left;
	color: #fff;
	background: transparent url('../images/tab-right.png') scroll no-repeat 100% -100px;
	margin: 0 5px 0 0;
	padding: 0 8px 0 0;
	text-transform: capitalize;
}

#nav a{

	display: block;
	float:left;
	background: transparent url('../images/tab-left.png') no-repeat scroll 0 -100px;
	margin:0;
	padding: 5px 4px 3px 10px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	line-height: 1;
}

#nav li:hover, #nav li.current { background-position: 100% 0; }
#nav li:hover a, #nav li.current a { background-position: 0 0; cursor:default; }

#authennavbarlist {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

/* css to make the page links work (home, help, preference) */
#bannerLinks {
	width: auto;
	position: absolute;
	list-style: none;
	margin:0;
	top: 7px;
	right: 0;
	padding: 0 15px 0 0;
	text-transform: lowercase;
}

#bannerLinks li {
	float: right;
	margin: 0;
	padding: 0 2px 0 0;
}

#bannerLinks a {
	display: block;
	float: left;
	display: table-cell;
	min-width: 1em;
	margin:0;
	padding: 5px 5px 3px 10px;
	font-weight: normal;
	text-align: center;
	color: #fff;
	text-decoration: none;
	line-height: 1;
}

#bannerLinks li.current a {
	cursor: default;
}

#bannerLinks li:hover, #bannerLinks li.current { background-position: 100% 0; }

#bannerLinks li.current a { text-decoration: underline; background-position: 0 0;}
#bannerLinks img.spacer { display: table-cell; }


/* css to make the classifier list pretty */
.navList {
	margin: 0 0 10px 0;
	padding: 0;
	background-color: #0a0;
}

.navList ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navList td {
	/*float: left;*/
	padding-left: 3em;
	padding-right: 3em;
	text-align:center;
	cursor: pointer;
	color: #fff;
}
.navList li a, .navList li span {
	padding: 0 1em;
	display: block;
	text-decoration: none;
	color: #fff;
}

.navList td.current {
	background-color: #efea6e;
	color: #444;
	cursor: default;
}

.navList li.current a, .navList li.current span {
	color: #444;
	cursor: default;
}

/* style the search and classifier results */
#results {
	line-height: 160%;
	margin: 0;
	padding: 0;
	/* border: 1px solid #f00; */
}

#results ul {
	margin: 0 0 0 20px;
	padding: 0;
}

#results li {
	list-style: none;
	margin: 0 0 .2em 0;
	/* border: 1px solid #00f; */
}

#results li a {
	padding: 3px 3px 3px 28px;
	background-repeat: no-repeat;
	background-position: 0 .1em;
}


/*#results .document a { background-image: url('../images/book.png'); }*/
#results .document a:visited { background-image: url('../images/book-visited.png'); color: #999; }
#results .shelf>a { background-image: url('../images/bookshelf.png'); }

/* corners of the banner */
/*
.corner {
	position: absolute;
	background-image: url('../images/layout/corners.png');
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

#cornerTopLeft {
	left: 0; top: 0;
	background-position: 0 0;
}
#cornerTopRight {
	right: 0; top: 0;
	background-position: -20px 0;
}
#cornerBottomLeft {
	left: 0; bottom: 0;
	background-position: 0 -20px;
}
#cornerBottomRight {
	right: 0; bottom: 0;
	background-position: -20px -20px;
}
*/
.clear {
	clear: both;
}


a:link, a:hover, a:active, a:visited { color: #050; }

/* bg image set in style macro */
div.divbar { 
  clear: both; 
  background-image: url('../images/bg_green.png'); 
  width: 100%; 
  text-align: center;
  font-size:80%
}


/** query form style**/
div#queryform{

}

/** search result style */
div#terminfo{

}

div#matchdocs{

}

div.resultnavigation{
 margin: 0;
 padding:0;
}

ul#resultlist li{
  display:block;
}

div#documentheading{
  font-size: 16pt;
  font-weight: bold;
}

div#documentinfo { 
  float:left;
  padding:0;
  margin:0;
  width:24%;
} 

div#toc{
  float:left;
  text-align:left;
  width:60%;
  padding:0;
  margin:0; 
}

ul#docbuttons li {
   display: block;
  font-size: 11px;
  font-weight: bold;
  background: #f7e7c5;
  margin: 1px;
  border: 1px solid #eeddbb;
  text-align: center;
  vertical-align: middle;
  height: 30px; /* IE6 and NS4 treat width/height as min-width/min-height */
  width: 110px;
}


ul#tocnodes li{
 margin: 0;
 padding: 5px 0 0 0;
 display:block;
}

ul.tocnode {
  margin:0;
  padding:5px 0 0 20px;
}

ul.tocnode  a{
 margin: 0;
 padding:0 5px 0 0;
 }

span.bold{
  font-weight: bold;	   
}

div.documentarrows{
  margin: 0 0 0 0;
  padding: 1em 0 0 0;   
}

img.lessarrow{
  float:left;
  border: none;  
}

img.morearrow{
  float:right;
  border:none; 
}

div.formheading{
  font-size: 16pt;
  font-weight: bold;
  margin: .5em 0 0;
  padding:0;
}

ul#presprefs li, ul#berrybasketprefs li, ul#searchprefs li{
  display: block;
} 


div.phrasebrowse{
  text-align:center;
  padding:0;
  margin: .5em 0 .5em 0;   
}

div.QuickSearch {
  float: right;
}

#coverImage {
	text-align: center;
}

/* ----- TABLE OF CONTENTS ------ */
#tableOfContents {
	margin: 0;
	padding: 0;
	font-size: 70%;
}

#tableOfContents li {
	list-style: none;
	margin: 0;
	padding: 2px;
	background-color: #fff;
}

#tableOfContents li a {
	color: #444;
}

#tableOfContents li.current {
	background-color: #090;
}
#tableOfContents li.current a {
	color: #fff;
}

#tableOfContents li.current li {
	background-color: #fff;
}

#tableOfContents li.current li a {
	color: #444;
}

#tableOfContents ul {
	padding: 0 0 0 0;
}

#tableOfContents ul ul{
	padding: 0 0 0 0;
}

#tableOfContents ul ul ul{
	padding: 0 0 0 16px;
}

/* -------- SEARCH ------- */
.paramLabel {
	float: left;
	min-width: 250px;
}
.paramValue {
	float: left;
}


table{
	border-collapse:collapse;
	border-spacing:0;
}

