<deployment xmlns="http://xml.apache.org/axis/wsdd/"
    xmlns:java="http://xml.apache.org/axis/wsdd/providers/java"
    xmlns:xsi="http://www.w3.org/2000/10/XMLSchema-instance">
  <service name="@siteuri@" @soapmethod@>
    <parameter name="className" value="org.greenstone.gsdl3.@servicesname@@sitename@"/>
    <parameter name="allowedMethods" value="*"/>
    <parameter name="scope" value="application"/>
  </service>
</deployment>

