*{ margin: 0; padding:0;}
html { height: 100%; margin-bottom: 1px; }
html.novertscroll { margin-bottom: 0; }
p { margin: 0 10px 20px 0; }
pre { margin-bottom: 20px; line-height: 120%; }
img { border: none; }
.cantfindkey{ background-color: #f0f;}
span.u {	text-decoration:underline;}
form { line-height: 180%;}


body {
	background: url('../img/header_bg.png') repeat-x scroll top left; 
	color: #333;
	font-family: sans-serif;
}

#content li, #full-content li {
	margin-bottom: 5px;
}

#content ul, #full-content ul, #content ol, #full-content ol {
	margin-left: 20px;
	margin-bottom: 20px;
}

table {
	width: 100%;
	margin: 0 20px 20px 0;
	border: 1px solid #aaa;
	border-collapse: collapse;
}

tr { margin:0; background: #eee url('../img/linebg.gif') scroll repeat-x top left; }
td{ padding:2px 6px 2px 2px;}
h1, h2, h3, h4, h5, h6, a.h2, a.h3 {
	font-size: 22px;
	display: block;
	font-weight: bold;
	border-bottom: 1px solid #464;
	color: #464;
	margin: 10px 0 .3em 0; 
	padding: 0;
	clear: both;
}
h2, a.h2 { font-size: 18px; }
h3, a.h3 { font-size: 16px; border:none; }
h4, a.h4 { font-size: 14px; border:none; }
h5, a.h5 { font-size: 12px; border:none; }
a.h2:active,a.h2:link,a.h2:visited,a.h2:hover,
a.h3:active,a.h3:link,a.h3:visited,a.h3:hover {
	text-decoration: none;
	text-indent: 1.2em;
	background: url('../img/link.png') no-repeat scroll 0 0;
}

h1 .caption { color: #bcb; }

small, a.small {
	font-size: .8em;
}
.centered {
	margin-left: auto;
	margin-right: auto;
}

.centering {
	text-align: center;
}
/* ------------ main layout -------------------- */

#container {
	position: relative;
	width: 766px;
	margin: 0 auto;
/*	background-color: #faa; */
}

#header {
	position: relative;
	height: 82px;
	padding:0; margin:0;
/*	overflow: hidden; 
	background-color: #afa; */
}

#sidebar {
	margin: 10px 0 10px 0;
	width: 210px; 
	border: 1px solid #ccc;
	float: left;
	padding: 8px;
	background: url('../img/sidebarbg.png') repeat-y scroll top center;
/*	background-color: #aaf; */
}

#content {
	width: 514px;
	float: right;
	line-height: 150%;
/*	overflow: hidden; */
/*	background-color: #ffa; */
}

#footer {
	padding: 10px;
	font-size: 10px;
	clear: both;
	border-top: 1px solid #777;
}

#footer a:link, a:active, a:hover, a:visited {
	color: #777;
}
/* ------------------ stuff in the nav bar ----------------- */

/* -- the framework for lists of links -- */
.linklist {
	width: auto;
	position: absolute;
	list-style: none;
	margin:0;
}

.linklist li {
	float: right;
	margin: 0;
}

.linklist a {
	display: block;
	float: left;
}

/* --- page list --- */
#pagelist {
	bottom: 0;
	right: 0;
	padding: 0 15px 0 0;
	font-size: 14px;
}

#pagelist li {
	background: transparent url('../img/button-right.png') no-repeat scroll 100% -100px;
	padding: 0 8px 0 0;
}
#pagelist li:hover,
#pagelist li.current { background-position: 100% 0; }

#pagelist a {
	margin:0;
	padding: 5px 4px 3px 10px;
	background: transparent url('../img/button-left.png') no-repeat scroll 0 -100px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	line-height: 1;
}
#pagelist li:hover a,
#pagelist li.current a {background-position: 0 0;}

/* -- language list -- */
#langlist {
	bottom: 45px;
	right: 0;
	padding: 0 15px 0 0;
}

#langlist li {
/*	background: transparent url('../img/button-right.gif') no-repeat scroll 100% -50px; */
	padding: 0 2px 0 0;
}
#langlist li:hover,
#langlist li.current { background-position: 100% 0; }

#langlist a {
	display: table-cell;
	min-width: 1em;
	margin:0;
	padding: 5px 5px 3px 10px;
/*	background: transparent url('../img/button-left.png') no-repeat scroll 0 -50px; */
	font-weight: bold;
	text-align: center;
	color: #fff;
	text-decoration: none;
	line-height: 1;
}
#langlist li:hover a,
#langlist li.current a { text-decoration: underline; background-position: 0 0;}
#langlist img.spacer { display: table-cell; }

/* -- home link -- */
#homelink {
	display: block;
	position: absolute;
	top: 13px;
	left: 5px;
	width: 217px;
	height: 60px;
	background: transparent url('../img/gsdlhead.png') no-repeat scroll 0 0;
}


/* ------------ sidebar------------------- */


#sidebar a:link, #sidebar a:active, #sidebar a:visited, #sidebar a:hover {
	color: #575;
}
#sidebar a:visited { color: #464; }
#sidebar a:hover { color: #9a9; }
/*
#sidebar h1, #sidebar h2,#sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6, #sidebar a, #sidebar ul {
	margin: 10px;
}
*/

/* ------------ sidebar buttons  --------------------- */

#sidebar div.button {
	display: block;
	background: url('../img/sidebar-button-top.png') repeat-x scroll top left;
	border: 1px solid gray;
	margin-bottom: 4px;
}

#sidebar a.button:active,
#sidebar a.button:link,
#sidebar a.button:visited,
#sidebar a.button:hover {
	display: block;
	background-position: 3px 3px;
	background-repeat: no-repeat;
	padding: 8px 5px 8px 30px;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;

}

#sidebar a.button:hover {
	background-position: 3px -97px;
}

/* ------------ sidebar blog entries -------------------- */
#sidebar-blog-entries li.title {
	background: url('../img/sidebar-button-top.png') repeat-x scroll top left; 
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	list-style: none;
}

#sidebar-blog-entries li.excerpt {
	background-color: #f0f9f0;
	border: 1px solid gray;
	list-style: none;
	margin: 0 0 9px 0;
}

#sidebar-blog-entries a.title-text {
	display: block;
	font-size: 14px;
	text-decoration:none;
	margin: 0;
	padding: 3px;
}
#sidebar-blog-entries a.category-text {
	display: block;
	clear: left;
	font-size: 10px;
	text-decoration:none;	
	margin: 0;
	padding: 1px 1px 5px 5px;
}

#sidebar-blog-entries li span.date { 
	font-size: 10px;
	font-weight: normal;
	margin: 0 5px 3px 5px;
	text-decoration: none;
}
#sidebar-blog-entries li p {
	line-height: 150%;
	font-size: 12px;
	margin: 0 5px 5px 5px;
	overflow: hidden;
}
.small-logo {
	float: left;
	margin: 1px;
	padding: 0;
}

/* ------------ content area ----------------- */

#full-content a:link, #full-content a:active, #full-content a:visited, #full-content a:hover,
#content a:link, #content a:active, #content a:visited, #content a:hover {
	color: #575;
}
#full-content a:visited, #content a:visited {	color: #464; }
#full-content a:hover, #content a:hover { color: #9a9; }

img.logo {
	float: left;
	padding: 10px 10px;
}

div.note {
	background-color: #eee;
	margin: 10px 10px 20px 0;
	padding: 20px;
	border: 1px solid gray;
}


/* --- sidebar button icons --- */


/* --- for html forms --- */

input, select, option {
	color: black;
}

input.input-text {
	width: 290px;
}

#sidebar input.input-text {
	width: 160px;
}


.righting {
	text-align: right;
}


.clear {
	clear: both;
}

textarea {
	width: 400px;
	height: 120px;
	color: #000;
}

#other-specify-div {
	display: none;
}

.formlabel {
	display: block;
	float: left;
	width: 150px;
	max-width: 150px;
	min-width: 150px;
}

.forminput {
	float: right;
	width: 300px;
}

.formline {
	background: #eee url('../images/linebg.gif') scroll repeat-x top left;
	padding: 5px;
}

option {
	padding-right:10px;
}

.highlighted {
	background: #ffa url('../images/linebg-highlighted.gif') scroll repeat-x top left; 
}

.message {
	background: transparent url('../images/warning.png') scroll no-repeat top left;
	text-indent: 25px;
	padding:3px;
		
}

.floatleft{
	float:left;
}


/* interesting stuff styles */
div.commit {
	padding: 10px;
	border: 1px solid #017;
	background-color: #def;
}

div.test{ border: 1px solid #070; padding: 5px; margin: 10px 0; }
.passed-no { background-color: #fee; }
.passed-yes { background-color: #efe; }

div.bug {
	padding: 10px;
	border: 1px solid #730;
	background-color: #fed;
}















/* --------- PAGE SPECIFIC STUFF ------------- */

/* blog */
#sidebar.wordpress {
	line-height: 1.3em;
}
#sidebar.wordpress div.button{
	line-height: 1em;
}
#wp-title {
	text-align: center;
}
#sidebar.wordpress li {
	list-style:none;
	margin-left: 0;
}
#sidebar.wordpress #s { width: 130px; }
#sidebar.wordpress #searchsubmit { width: 60px; }

h2 a {
	text-decoration: none;
}

div.navigation {
	position: relative;
	padding: 15px 0 25px 0;
}

div.alignright{
	float:right;
}
div.alignleft {
	float:left;
}

textarea {
	width: 100%;
	border: 1px solid black;
}
a.rssicon {
	padding: 2px;
	position: relative; top: 2px;
	cursor: pointer;
}
.indented{ margin-left: 20px; }
#feed-global {
	cursor: pointer;
}




/* download */

#downloadlist li {
	list-style:none;
}

#downloadlist li>div {
/*	background: url('../images/sidebar-button-bottom.png') repeat-x scroll bottom left; */
}

#downloadlist a:link,
#downloadlist a:visited,
#downloadlist a:active,
#downloadlist a:hover {
	display: block;
	padding: 8px 5px 8px 30px;

	background-repeat: no-repeat;
	background-position: 3px 50%;

	text-decoration: none;
	font-weight: normal;
	font-size: 12px;}

#downloadlist li a:hover {
	/* background-position: -497px 50%; */
}

.file {
	display: block;
	height: 22px;
	padding-left: 28px;
	margin: 0 5px 5px 5px;
	
	background: url('../images/os/000.png') no-repeat scroll 3px 50%;
}
.file-001 { background-image: url('../images/os/001.png'); }
.file-010 { background-image: url('../images/os/010.png'); }
.file-100 { background-image: url('../images/os/100.png'); }
.file-111 { background-image: url('../images/os/111.png'); }

.lastfile {
	margin: 0 5px 15px 5px;
}



/* examples */
#examplelist li {
	list-style:none;
	overflow: hidden;
}

#examplelist a.button:link,
#examplelist a.button:visited,
#examplelist a.button:active,
#examplelist a.button:hover {
	padding: 8px 5px 8px 5px;
}



/* sitemap */

#content.sitemap>ul>li {list-style: none;  margin: 0 20px 10px 10px;}
#content.sitemap li { margin-left: 20px; }
